{
  "tagFormat": "v${version}",
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    ["@semantic-release/git", {
      "assets": "false"
    }],
    ["@semantic-release/exec", {
      "successCmd": "echo \"SEMVER_VERSION=${nextRelease.version}\" >> $GITHUB_ENV"
    }],
    ["@semantic-release/exec",{
      "publishCmd": "./ci/run-catalog-onboarding-pipeline.sh terraform-ibm-landing-zone 7df1e4ca-d54c-4fd0-82ce-3d13247308cd 6e3824e7-68a6-4a47-bbbf-2af6e41e7246 v${nextRelease.version} account vsi-quickstart github.com terraform-ibm-modules slz false"
    }]
  ]
}
