{
  "ibmcloud_api_key": $VALIDATION_APIKEY,
  "region": "us-south",
  "entitlement": "cloud_pak",
  "tags": $TAGS,
  "prefix": $PREFIX,
  "enable_transit_gateway": false,
  "add_atracker_route": false,
  "operating_system": "REDHAT_8_64"
}
