{% for cluster in cluster_names.stdout_lines[1:] %}
moved {
  from = ibm_container_vpc_cluster.cluster["{{ cluster }}"]
  to   = module.cluster["{{ cluster }}"].ibm_container_vpc_cluster.cluster[0]
}
{% endfor %}