{
  "ibmcloud_api_key": $VALIDATION_APIKEY,
  "region": "eu-gb",
  "tags": $TAGS,
  "prefix": $PREFIX,
  "hs_crypto_instance_name": "geretain-hyper-protect-crypto-us-east",
  "hs_crypto_resource_group": "Default"
}
