{"ibmcloud_api_key": $VALIDATION_APIKEY, "region": "us-south", "resource_tags": $TAGS, "prefix": $PREFIX, "ssh_key": "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDFotXgEclm0Yucppp8R52LBMwbmUDyZTXDFxwOUQcr+g/7SX1kwsn1OF/ox5kWxZebfhiHy9iLLd+PYyx1KhcB9tQZykydjAufAFtcBNTDeefTS6hm5IxepVXNazvMd2LSvWKaOii6O5TlsbqMmC7yztD/mm8GIWMI/HWUWVTdODYsIjpU0s0MaMQTKs+4DwE8q8B1adZbh71DIWA6FJNoXwzrfppkluj6p+C9bz1/3WYsnjOgpiEYXubGNqUMHm1beZuTGO+TasK+bLgNXXZkTq8lMTVQn85J0wTp0ab+lL9lRb+nPukB9+GwMqJT/YLgJBh9X4ShL5oAKON1jB7gaRMkZWVsOuzWaMal8SOQiatWGTAIddnGNVkkLBh4xNrl+yLNOFm1XLJgMXb2azVZXzUPPpXT54xON3oLsGixqDT8Gl+6OuNITdK4/h9sMI3pwf2+WeDhFUk60vnLfe3lmicLwAnOtysVq05fqpl6BGoLHDKUXIKyCXjceWV4X3ZkHdZdrWlkDfxjpI8rsNYwpKPO2wnsLXkL5C9F4xWVrHCCxbQvAUN2Yq9aA34TgRTMRrHvWrOA78l6UFvjGAagseBf4KboGOtIEX6BKZeibO7soDV1ImhekMGRgtcw4sqDyO7C6LbmuAeNcL7XKkL06C4vVgHxp4F+LX8WyjCLmQ=="}
